<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2"  name="Test">
        <classes>
            <class name="tests.FavQuote">
                <methods>
                    <include name="markQuoteAsFavWithNoSession"/>
                    <include name="markQuoteAsFavWithValidQuoteId"/>
                    <include name="markQuoteAsFavWithInvalidQuoteId"/>
                    <include name="unfavAQuoteWithNoSession"/>
                    <include name="unfavAQuoteUsingValidQuoteId"/>
                    <include name="unfavAQuoteUsingInValidQuoteId"/>
                </methods>
            </class>

            <class name="tests.ListQuote">
                <methods>
                    <include name="getListOfQuotes"/>
                    <include name="getListOfQuotesWithBadToken"/>
                    <include name="getListOfQuotesByAuthor"/>
                    <include name="getListOfQuotesByAuthorUsingBadToken"/>
                    <include name="getListOfQuotesThatContainsFunny"/>
                    <include name="getListOfQuotesThatContainsFunnyUsingBadToken"/>
                    <include name="getListOfQuoteWithATag"/>
                    <include name="getListOfQuoteWithATagUsingBadToken"/>
                    <include name="getAllHiddenQuotes"/>
                    <include name="getAllHiddenQuotesUsingBadToken"/>

                </methods>
            </class>
        </classes>
    </test>
</suite>